#title {
    background-color: #ff4c68;
    color: white;
    
}
   

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: white;
}

.carousel-item {
    padding: 5% 15%;
}

#features {
    text-align: center;
    line-height: 1.5;
    font-family: 'Montserrat';
    font-weight: bold;
    background-color: white;
    position: relative;
    z-index: 1;
    
}

#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 5%;
}

#pricing {
    text-align: center;
    padding: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}


body {
    font-family: 'Montserrat';
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;

}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}



p {
    color: #8f8f8f;
}

.container-fluid {
 padding: 3% 5%;
}



i {
    padding-bottom: 5%;
    
}

i:hover {
    color: #ff4c68 !important;
}



.iphone-image {
    rotate: 25deg;
    position: absolute;
    padding-left: 70px;
    bottom: 10px;
    width: 400px;
}



.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 3rem;
    font-weight: bold;
    padding-left: 12px;
}

.nav-item {
    margin: auto 40px auto 40px;
    font-family: 'Montserrat';
}


.front-page {
    margin: 80px auto;
}

.features {
    padding: 15%;
}

.features1 {
    padding: 6% 6%;
}

.press-logo {
    width: 10%;
    margin: 2% 3% 2%;
}

.pricing-holder {
    padding: 10px;
}


.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 3%;
}

.top-row {
    padding: 10% 0;
}

/****Download Buttons*****/

.download-button {
    margin-right: 5%;
    margin-top: 5%;
}


/******Media*****/
@media (max-width: 1024px) {
 .iphone-image {
    text-align: center;
    position: static;
    rotate: 0deg;
    padding: 10%
 }
 #title {
    text-align: center;
 }
}


/******call to action****/

#cta {
    color: #fff;
    background-color: #ff4c68;
    text-align: center;
    padding: 100px;
    line-height: 1.5;
    
}

.h3cta {
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    
}

.btn-down {
    margin: 20px;
}


/****footer****/

#footer {
    background-color: #fff;
    text-align: center;
}

.iconics {
    margin: 10px;
    padding-top: 100px;
    padding-bottom: 0px;
}

.copy-right {
    padding-bottom: 50px;
}