#title {
    background-color: #ff4c68;
    color: white;
    
}
   

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: white;
}

.carousel-item {
    padding: 5% 15%;
}

#features {
    text-align: center;
    line-height: 1.5;
    font-family: 'Montserrat';
    font-weight: bold;
    background-color: white;
    position: relative;
    z-index: 1;
    
}

#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 5%;
}

#pricing {
    text-align: center;
    padding: 100px;
}

body {
    font-family: 'Montserrat';
}


h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.5;
    margin: auto auto 50px auto;

}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

.container-fluid {
 padding: 5% 10%;
}



i {
    padding-bottom: 5%;
    
}

i:hover {
    color: #ff4c68 !important;
}



.iphone-image {
    rotate: 25deg;
    position: absolute;
    padding-left: 70px;
}


.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 3rem;
    font-weight: bold;
    padding-left: 12px;
}

.nav-item {
    margin: auto 40px auto 40px;
    font-family: 'Montserrat';
}


.front-page {
    margin: 80px auto;
}

.features {
    padding: 15%;
}

.features1 {
    padding: 6% 6%;
}

.press-logo {
    width: 10%;
    margin: 2% 3% 2%;
}

.pricing-holder {
    padding: 10px;
}


.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 3%;
}

/****Download Buttons*****/

.download-button {
    margin-right: 5%;
    margin-top: 5%;
}


/******Media*****/
@media (max-width: 1125px) {
 .iphone-image {
    position: static;
    rotate: 0deg;
    padding: 0;
 }
 #title {
    text-align: center;
 }
}